@import "styles/base.less";
@import 'styles/syntax-variables';
//@import 'styles/twig-extended';

.atom-text-editor,atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .syntax--invisible-character {
    color: @syntax-invisible-character-color;
  }

  .syntax--indent-guide {
    color: @syntax-indent-guide-color;
  }

  .syntax--wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .syntax--gutter {
    background-color: @syntax-gutter-background-color;

    .syntax--cursor-line {
      background-color: @syntax-gutter-background-color-selected;
    }
  }

  .syntax--line-number.syntax--cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .syntax--invisible {
    color: @syntax-text-color;
  }

  .syntax--cursor {
    border-color: @syntax-cursor-color;
  }

  .syntax--selection .syntax--region {
    background-color: @syntax-selection-color;
  }

  .syntax--search-results .syntax--marker .syntax--region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .syntax--search-results .syntax--marker.syntax--current-result .syntax--region {
    border: 1px solid @syntax-result-marker-color-selected;
  }

  .syntax--gfm {
    .syntax--markup {
      &.syntax--heading {
        color: #A6E22E;
        font-weight: bold;
      }

      &.syntax--underline {
        color: #E6DB74;
        text-decoration: underline;
      }
    }

    .syntax--bold {
      font-weight: bold;
    }

    .syntax--italic {
      font-style: italic;
    }

    .syntax--raw {
      color: #66D9EF;
    }

    .syntax--variable.syntax--list {
      color: #F92672;
      font-weight: bold;
    }

    .syntax--link {
      color: #CCC;

      .syntax--entity {
        color: #AE81FF;
      }
    }
  }
}

.syntax--comment {
  color: #75715E;
}

/*
.syntax--string {
  color: #E6DB74;
}
*/
.syntax--constant.syntax--numeric {
  color: #AE81FF;
}

.syntax--constant.syntax--language {
  color: #AE81FF;
}

.syntax--constant.syntax--character,
.syntax--constant.syntax--other {
  color: #AE81FF;
}

.syntax--storage.syntax--type {
  font-style: italic;
  color: #66D9EF;
}

.syntax--entity.syntax--name.syntax--class {
  text-decoration: underline;
  color: #A6E22E;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: #A6E22E;
}

.syntax--entity.syntax--name.syntax--function {
  color: #A6E22E;
}

.syntax--entity.syntax--name.syntax--instance {
  color: #66D9EF;
}

.syntax--variable.syntax--parameter {
  font-style: italic;
  color: #FD971F;
}

.syntax--entity.syntax--name.syntax--tag {
  //color: #F92672;
  color: @syntax-html-tag-twig;
  font-weight: bolder;
}
.syntax--entity.syntax--other.syntax--attribute-name {
  color: #A6E22E;
}

.syntax--support.syntax--constant {
  color: #66D9EF;
}

.syntax--support.syntax--type,
.syntax--support.syntax--class {
  font-style: italic;
  color: #66D9EF;
}

.syntax--invalid {
  color: #F8F8F0;
  background-color: #F92672;
}

.syntax--invalid.syntax--deprecated {
  color: #F8F8F0;
  background-color: #AE81FF;
}

// Jade syntax
.syntax--class.syntax--jade {
  color: #AE81FF;
}

/* chuntr customizations */
.syntax--keyword {
  color: @syntax-keyword-twig;
  //color: #F92672;
}

.syntax--keyword.syntax--control,
.syntax--keyword.syntax--operator,
.syntax--keyword.syntax--other {
    color: @syntax-keyword-twig;
}

.syntax--meta.syntax--brace.syntax--curly,
.syntax--meta.syntax--brace.syntax--square {
    font-weight: bold;
}

.syntax--meta.syntax--function-call {
    color: @syntax-variable;
}

.syntax--punctuation.syntax--definition.syntax--string {
    color: @syntax-string-quoted-twig;
}

.syntax--punctuation.syntax--definition.syntax--arguments,
.syntax--punctuation.syntax--definition.syntax--tag,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--variable.syntax--php {
    color: @syntax-punctuation-variable-definition;
    font-weight: bolder;
}

// italicize twig elements not already dealt with
.syntax--comment.syntax--block.syntax--twig,
.syntax--comment.syntax--line.syntax--number-sign.syntax--yaml,
.syntax--keyword.syntax--control.syntax--twig,
.syntax--keyword.syntax--operator.syntax--comparison.syntax--twig,
.syntax--punctuation.syntax--definition.syntax--entry.syntax--yaml,
.syntax--punctuation.syntax--definition.syntax--parameters.syntax--begin.syntax--twig,
.syntax--punctuation.syntax--definition.syntax--parameters.syntax--end.syntax--twig,
.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--twig,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--twig,
.syntax--punctuation.syntax--section.syntax--array.syntax--begin.syntax--twig,
.syntax--punctuation.syntax--section.syntax--array.syntax--end.syntax--twig,
.syntax--punctuation.syntax--seperator.syntax--object.syntax--twig,
.syntax--string.syntax--quoted.syntax--single.syntax--twig,
.syntax--string.syntax--quoted.syntax--double.syntax--twig,
.syntax--string.syntax--quoted.syntax--single.syntax--yaml,
.syntax--string.syntax--quoted.syntax--double.syntax--yaml,
.syntax--string.syntax--unquoted.syntax--single.syntax--yaml,
.syntax--string.syntax--unquoted.syntax--single.syntax--yaml {
    font-style: italic;
}

.syntax--punctuation.syntax--section.syntax--scope {
    font-weight: bold;
}

// Twig begin/end tags: "{{ }}"
.syntax--punctuation.syntax--section.syntax--tag.syntax--twig {
    color: @syntax-punctuation-variable-tag-twig;
    font-style: italic;
}

.syntax--punctuation.syntax--separator.syntax--property {
    color: @syntax-variable;
}

.syntax--punctuation.syntax--separator.syntax--property.syntax--twig {
    color: @syntax-variable-twig;
    font-style: italic;
}

.syntax--source.syntax--python {
    color: @syntax-variable;
}

.syntax--string-contents,
.syntax--string {
    color: @syntax-string-quoted-twig;
}

.syntax--storage {
    color: @syntax-keyword-twig;
}

.syntax--support.syntax--function {
    color: @syntax-function-call-twig;
    font-weight: bolder;
    //color: #66D9EF;
}

.syntax--variable.syntax--parameter {
    color: @syntax-variable;
}
.syntax--variable.syntax--other {
    color: @syntax-variable;
}

.syntax--variable.syntax--other.syntax--twig,
.syntax--variable.syntax--other.syntax--property.syntax--twig,
.syntax--meta.syntax--function-call.syntax--twig,
.syntax--meta.syntax--function-call.syntax--object.syntax--twig {
    color: @syntax-variable-twig;
    font-style: italic;
}

// jinja tweaks
.syntax--comment.syntax--block.syntax--jinja,
.syntax--entity.syntax--other.syntax--jinja.syntax--delimiter.syntax--comment,
.syntax--entity.syntax--other.syntax--jinja.syntax--delimiter.syntax--tag,
.syntax--entity.syntax--other.syntax--jinja.syntax--delimiter.syntax--variable,
.syntax--keyword.syntax--control.syntax--jinja,
.syntax--string.syntax--quoted.syntax--single.syntax--jinja,
.syntax--string.syntax--quoted.syntax--double.syntax--jinja,
.syntax--variable.syntax--other.syntax--jinja {
    font-style: italic;
}

.syntax--comment.syntax--block.syntax--jinja,
.syntax--keyword.syntax--operator.syntax--arithmetic.syntax--jinja,
.syntax--entity.syntax--other.syntax--jinja.syntax--delimiter.syntax--comment,
.syntax--entity.syntax--other.syntax--jinja.syntax--delimiter.syntax--tag,
.syntax--entity.syntax--other.syntax--jinja.syntax--delimiter.syntax--variable,
.syntax--punctuation.syntax--other.syntax--jinja {
    color: @syntax-punctuation-tag-twig;
}
